div(data-ng-controller="loginCtrl as vm")
  form.container-fluid(
      data-ng-submit='vm.submit()',
      data-ng-keydown='vm.error = null',
      name='login'
  )
    span.form-error {{vm.error}}
    tabset
      tab(heading='Login', select='vm.select("login")', active='vm.selectLogin')
      tab(heading='Register', select='vm.select("register")')
        div.form-group
          label Name
          input.form-control(
            data-ng-model='vm.user.name',
            type='text',
            data-ng-required='vm.action === "register"'
          )
    div.form-group(data-ng-class='{"has-error": vm.error === "User not found"}')
      label Email
      input(
        data-ng-model='vm.user.email',
        type='email',
        required=true,
        placeholder='name@domain.tld').form-control
    div.form-group(data-ng-class='{"has-error": vm.error === "Bad password"}')
      label Password
      input(
        data-ng-model='vm.user.password',
        type='password',
        required=true,
        placeholder='correct horse battery staple').form-control
    div.form-group.row
      div.col-xs-12
        button.btn.btn-primary.full-width-btn(
          type='submit',
          data-ng-disabled='login.$invalid'
        ) {{vm.action | uppercase}}
