div(data-ng-controller="loginCtrl as vm")
  form.container-fluid(
    data-ng-submit='vm.login()',
    data-ng-keydown='vm.error = null',
    name='login'
    )
    span.form-error {{vm.error}}
    div.form-group(data-ng-class='{"has-error": vm.error === "User not found"}')
      label Email
      input(
        data-ng-model='vm.user.email',
        type='email',
        required=true,
        placeholder='name@domain.tld').form-control
    div.form-group(data-ng-class='{"has-error": vm.error === "Bad password"}')
      label Password
      input(
        data-ng-model='vm.user.password',
        type='password',
        required=true,
        placeholder='correct horse battery staple').form-control
    div.form-group.row
      div.col-xs-6
        button.btn.btn-primary(
          type='submit',
          data-ng-disabled='login.$invalid'
        ) Login
      div.col-xs-6(data-ng-controller='registerCtrl as register')
        // no registration at this point
        button.btn.btn-default(
          type='button',
          data-ng-click='register.do(vm.user)',
          data-ng-disabled='true'
          ) Register
